#informacionUsuario{
	margin-top: 1%;
	color: #2794E1;
	background-color: white;
	border: 1px solid #008BEA;
	padding-bottom: 20px;
	padding-top: 20px;
	box-shadow: 6px 6px #D7EBFA;
}
.ayuda{
	cursor: pointer;
}
.perfil{
	border: 1px solid 
}
textarea{
	width: 80%;
	display: inline-block;
}
.subirAvatar{
	font-size: 0.75em;
}

.cambiar{
	margin-bottom: 10%;
}

.apodo{
	margin-bottom: 5%;
	font-size: 0.9em;
	color: #5880AF;
}

.password{
	width: 50%;
	text-align: center;
}

.noHay{
	margin: 0 auto;
	color: #008BEA;
}

.info{
	color: red;
	font-size: 0.8em;
}

.exito{
	color: #2794E1;
	font-size: 0.8em;
}


/* creamos el macro */
@keyframes parpadear { 
	50% { border-color: #ff0000; } 
 }
 /* clase que llamara a ese macro */
.parpadear{
	animation-name: parpadear ;/* llamamamos al macro*/
    animation-duration: .5s ; /* establecemos el tiempo que durara la animacion */
    animation-timing-function: step-end; /* establecemos la manera en la que la animacion se ejecutara */
    animation-iteration-count: 10 ; /*establecememos las veces que se ejecutaran las animaciones*/
    animation-direction: alternate ; /*establecemos la direccion de la animacion*/
}