h3{
	color: #40B0FF;
}
.apodo{
	font-size: 0.8em;
	color: #5880AF;
}
.componenteAmigos{
	overflow-y: auto;
}
.amigos{
	border: 1px #A0D8FE solid;
	background-color: white;
	margin-bottom: 2%;
}
.amigos:hover{
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 20px 2px #BDE3FF;
}
.amigo,.avatar{
	cursor: pointer;
}

.nombre{
	font-size: 1.3em;
	color: #40B0FF;
	font-weight: bold;
}

.bio{
	text-align: justify;
	font-size: 0.8em;
	font-style: italic;
	color: #62A8DC;
}

.acciones button{
	background-color: rgba(0,0,0,0);
	border: none;
}

.modal:before{
	content: '';
	display: inline-block;
	height: 25%;
	vertical-align: middle;
	margin-right: -4px;
}


@media (max-width: 625px) {
	.modal:before{
		margin-right: 0px;
	}	
}
.modal .col-12{
	padding-left: 0px;
}

.noHay{
	font-size: 2em;
	color: #40B0FF;
	text-align: center;
	font-weight: bold;
}

/* creamos el macro */
@keyframes parpadear { 
	50% { border-color: #ff0000; } 
 }
 /* clase que llamara a ese macro */
.parpadear{
	animation-name: parpadear ;/* llamamamos al macro*/
    animation-duration: .5s ; /* establecemos el tiempo que durara la animacion */
    animation-timing-function: step-end; /* establecemos la manera en la que la animacion se ejecutara */
    animation-iteration-count: 10 ; /*establecememos las veces que se ejecutaran las animaciones*/
    animation-direction: alternate ; /*establecemos la direccion de la animacion*/
}