<div *ngIf="usarioLogueado" class="usariologueado">
	<!-- fila barra de navegacion -->
	<div class="row">
		<div class="col-12">
			<app-barra-navegacion></app-barra-navegacion>
		</div>
	</div>
	<!-- Informacion contenido y chat -->
	<div class="row">
		<!-- perfil -->
		<div class="col-md-12" *ngIf="perfil">
			<app-informacion-usuario></app-informacion-usuario>
		</div>
		<!-- Contenido -->
		<div class="col-md-12" *ngIf="contenidoUsuario">
			<app-contenido-usuario></app-contenido-usuario>
		</div>
		<div class="col-md-12" *ngIf="amigos">
			<app-amigos></app-amigos>
		</div>
		<div class="col-md-12" *ngIf="mensajes">
			<app-mensajes></app-mensajes>
		</div>
		
		<div class="col-md-12" *ngIf="peticiones">
			<app-peticiones-component></app-peticiones-component>
		</div>
		<!-- chat -->
		<!-- <div class="col-1" *ngIf="contenidoUsuario">
			<app-chat></app-chat>
		</div> -->
	</div>
</div>
<div *ngIf="!usarioLogueado" class="login">
	<router-outlet></router-outlet>
</div>
