<div *ngIf="usarioLogueado" class="usariologueado">
	<!-- si el suaurio es admin -->
	<div class="row" *ngIf="esAdmin">
		<div class="col-12">
			<app-administracion></app-administracion>
		</div>
	</div>

	<!-- si el usuario no es administrador -->
	<!-- fila barra de navegacion -->
	<div class="row" *ngIf="!esAdmin">
		<div class="col-12">
			<app-barra-navegacion></app-barra-navegacion>
		</div>
	</div>
	<!-- Informacion contenido y chat -->
	<div class="row" *ngIf="!esAdmin">
		<!-- correo enviado -->
		<div id="correoenviado" class="d-flex" *ngIf="correoEnviado">
			<div class="mx-auto mr-auto">El correo te llegará en unos minutos.</div>
			<div class="pr-1 cerrar" title="cerrar" (click)="cerrar()">X</div>
		</div>
		<!-- perfil -->
		<div class="col-md-12" *ngIf="perfil">
			<app-informacion-usuario></app-informacion-usuario>
		</div>
		<!-- Contenido -->
		<div class="col-md-12" *ngIf="contenidoUsuario">
			<app-contenido-usuario></app-contenido-usuario>
		</div>
		<div class="col-md-12" *ngIf="amigos">
			<app-amigos></app-amigos>
		</div>
		<div class="col-md-12" *ngIf="mensajes">
			<app-mensajes></app-mensajes>
		</div>
		
		<div class="col-md-12" *ngIf="peticiones">
			<app-peticiones-component></app-peticiones-component>
		</div>
		
		<div class="col-md-12" *ngIf="buscar">
			<app-buscar></app-buscar>
		</div>

		<div class="col-md-12" *ngIf="otrosusuarios">
			<app-otrosusuarios></app-otrosusuarios>
		</div>
	</div>
	<!-- informar al usuario sobre cuenta no activada -->
	<div class="row" *ngIf="!esAdmin && informarActivado">
		<app-confirmar class="fixed-bottom" #activar></app-confirmar>
	</div>
</div>
<div *ngIf="!usarioLogueado" class="login">
	<div *ngIf="login">
		<app-login></app-login>
	</div>
	<div *ngIf="registro">
		<app-registro></app-registro>
	</div>
</div>
