<div class="informaractivado">
  <h3>¡Hola {{usuario.getNombre()+" "+usuario.getApellido()}}!</h3>
  <h6>Tu cuenta aún no ha sido activada.</h6>
  <h6>Si quieres publicar fotos, vídeos o comentarios debes activar tu cuenta a través del correo eléctronico que te hemos enviado.</h6>

  <div class="entendido d-flex justify-content-center">
    <button class="btn btn-primary btn-lg" (click)="cerrar()">
      Entendido
    </button>
  </div>

  <p class="reenviar" (click)="enviarEmail()">
    <i>Reenviar correo de confirmación</i>
  </p>
  
</div>