/* You can add global styles to this file, and also import other style files */
body{
	overflow-x: hidden;
}

html{
	background-color: rgba(230,230,230,1);
}


/*@media (min-width: 601px) {
	body{
		overflow: hidden;
	}	
}*/