.barraSeleccion{
	color: rgba(0,0,0,0);
	border-bottom: 1px solid white;
}
.barraSeleccion div.seleccion{
	background-color: #ACACAC;
	cursor: pointer;
	width: 24%;
	height: 100%;
	text-align: center;
	z-index: 0;
}

.barraSeleccion div:last-of-type{
	margin-left:  -3%;
}

.barraSeleccion div a {
	color: #0060D3;
}
.barraSeleccion div.seleccionado{
	z-index: 1;
	background-color: white;
}

/*--------------------bordes recibidos--------------------*/
.bordederechorecibidos{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0px 30px 30px 0px;
	border-color: transparent #E6E6E6 transparent transparent;
}

.seleccionado .bordederechorecibidos{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0px 30px 30px 0px;
	border-color: transparent #ACACAC transparent transparent;
}
.bordeizquierdorecibidos{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 30px 0px 0px;
	border-color: #E6E6E6 transparent transparent transparent;
}

/*--------------------bordes enviados--------------------*/
.bordeizquierdoenviados{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 30px 0px 0px;
	border-color: #E6E6E6 transparent transparent transparent;
}
.seleccionado .bordeizquierdoenviados{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 30px 0px 0px;
	border-color: #ACACAC transparent transparent transparent;
}
.bordederechoenviados{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0px 30px 30px 0px;
	border-color: transparent #E6E6E6 transparent transparent;
}

.col-9{
	padding-left: 0;
	padding-right: 0;
}


.todosMensajes{
	background-color: white;
}




@media (min-width: 625px) {
	.informacion img{
		width: 40px; height: 40px;
	}	
}

@media (max-width: 625px) {
	.informacion img{
		width: 20px; height: 20px;
	}	
}

.enviado,.recibido{
	margin-bottom: 5%; 
}

.informacion .nombre{
	font-size: 1.3em;
	color: #40B0FF;
	font-weight: bold;
	margin-left: 2%;
}

hr.separarInfo{
	width: 50%;
	border-color: #A0D8FE;
}
.mensaje{
	min-height: 40%;
	color: #4097FF
}
hr.separarMensajes{
	width: 90%;
	border-color: #008BEA;
}