#registro{
	background-image: url("../../assets/fondo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 73vw;
	width: 100vw;
}

.logo{
	width: 20%;
	margin: 0 auto;
}

.campos{
	background-color: white;
	width: 300px;
}

form{
	margin: 3%;
	margin-top: 15%;
}

.info{
	color: red;
	font-size: 0.8em;
	text-align: center;
}